.post {
	background-color: #f8f8f8;
	border-radius: 5%;
	margin-bottom: 3%;
  padding: 3% 3% 3% 3%;
}

body { 
  min-height: 100vh; 
  margin: 0; 
  position: relative;
}

body {
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 50px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

a.post-title:link {
  color: #333333;
}

pre {
  overflow-x: auto;
}